name: Build & Push

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: sudo rm -rf /opt&
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://cache.iog.io https://cache.nixos.org/
            accept-flake-config = true
      - uses: cachix/cachix-action@v15
        with:
          name: paolino
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build executable
        run: nix build .#csmt-utxo
      - name: Build docker image
        run: nix build .#docker-image -o output-docker-image
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: csmt-utxo-image
          path: output-docker-image
      - name: Build tarball
        if: false
        run: nix build .#linux64.tarball